canvas {
    border: 1px solid red;
  }
  

/* body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

canvas {
    
    background-color: whitesmoke;
}

.hidden {
    visibility: hidden;
    width: 0;
} */
